# Accessing Elements in Pandas DataFrames

In [2]:
import pandas as pd
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])

# We display the DataFrame
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

## Access elements in Pandas DataFrames in many different ways

In [3]:

# We print the store_items DataFrame
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

In [4]:
# important : dataframe[column][row]
# We access rows, columns and elements using labels
print('How many bikes are in each store:\n', store_items[['bikes']]) #2d [[]] represnt bikes as DF from one column
print(type(store_items[['bikes']]))

How many bikes are in each store:
          bikes
store 1     20
store 2     15
<class 'pandas.core.frame.DataFrame'>

In [7]:
print('How many bikes are in each store:\n', store_items['bikes']) #1d DS
print(type(store_items['bikes']))

How many bikes are in each store:
 store 1    20
store 2    15
Name: bikes, dtype: int64
<class 'pandas.core.series.Series'>

In [8]:
print('How many bikes and pants are in each store:\n', store_items[['bikes', 'pants']])#df[column][row]

How many bikes and pants are in each store:
          bikes  pants
store 1     20     30
store 2     15      5

In [9]:
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

In [13]:
print('What items are in Store 1:\n', store_items.loc['store 1'])# DF.loc[row] represnt not as row or column but as DS

What items are in Store 1:
 bikes      20.0
pants      30.0
watches    35.0
glasses     NaN
Name: store 1, dtype: float64

In [15]:
print('What items are in Store 1:\n', store_items.loc[['store 1']])# DF.loc[[row]] represnt  as one row DF

What items are in Store 1:
          bikes  pants  watches  glasses
store 1     20     30       35      NaN

In [50]:
print('How many bikes are in Store 2:', store_items['bikes']['store 2'])#DF[column][row]

How many bikes are in Store 2: 15

In [17]:
print('How many bikes are in Store 2:', store_items.loc['store 2','bikes'])#DF.loc[row,column]

How many bikes are in Store 2: 15

In [52]:
print('bikes to waches for store1 and store2:\n',store_items.loc['store 1':'store 2','bikes':'watches'])

bikes to waches for store1 and store2:
          bikes  pants  watches
store 1     20     30       35
store 2     15      5       10

In [18]:
print('How many bikes and watches are in store 1 and Store 2:\n',store_items.loc[: ,'bikes':'watches'])

How many bikes and watches are in store 1 and Store 2:
          bikes  pants  watches
store 1     20     30       35
store 2     15      5       10

In [19]:
print(store_items.loc["store 1" ,'pants':'watches'])#DS

pants      30.0
watches    35.0
Name: store 1, dtype: float64

In [20]:
print(store_items.loc["store 1":"store 1" ,'pants':'watches'])#DF

         pants  watches
store 1     30       35

In [22]:
print(store_items.loc[["store 1"] ,'pants':'watches'])#DF

         pants  watches
store 1     30       35

In [23]:
print(store_items.iloc[0:1,1:3])#DF last index is out  row 0   and column 1,2

         pants  watches
store 1     30       35

In [26]:
print(store_items.iloc[[0],1:3])#DF

         pants  watches
store 1     30       35

In [27]:
print(store_items.iloc[0 , 1:3])#DS

pants      30.0
watches    35.0
Name: store 1, dtype: float64

## Modify our DataFrames by adding rows or columns

In [28]:
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

In [29]:
# We add a new column named shirts to our store_items DataFrame indicating the number of
# shirts in stock at each store. We will put 15 shirts in store 1 and 2 shirts in store 2
store_items['shirts'] = [15,2]

# We display the modified DataFrame
store_items

         bikes  pants  watches  glasses  shirts
store 1     20     30       35      NaN      15
store 2     15      5       10     50.0       2

In [30]:
store_items.loc["store 1","glasses"]=50

In [32]:
store_items

         bikes  pants  watches  glasses  shirts
store 1     20     30       35     50.0      15
store 2     15      5       10     50.0       2

## Add new columns by using arithmetic operations between other columns in our DataFrame

In [34]:
# We make a new column called suits by adding the number of shirts and pants
store_items['suits'] = (store_items['pants'] + store_items['shirts'])*10

# We display the modified DataFrame
store_items

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35     50.0      15    450
store 2     15      5       10     50.0       2     70

## How to add new rows to our DataFrame ?


### First : create new DatatFrame for this row

In [35]:
# We create a dictionary from a list of Python dictionaries that will number of items at the new store
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]

# We create new DataFrame with the new_items and provide and index labeled store 3
new_store = pd.DataFrame(new_items, index = ['store 3'])

# We display the items at the new store
new_store

         bikes  pants  watches  glasses
store 3     20     30       35        4

### Second: add this row to our store_items DataFrame by using the .append() method

In [36]:
# We append store 3 to our store_items DataFrame
store_items = store_items.append(new_store)#new_store must be data fram

# We display the modified DataFrame
store_items

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35     50.0    15.0  450.0
store 2     15      5       10     50.0     2.0   70.0
store 3     20     30       35      4.0     NaN    NaN

## Insert new columns into the DataFrames anywhere we want

In [37]:
# dataframe.insert(loc,label,data)

# We insert a new column with label shoes right before the column with numerical index 4
store_items.insert(4, 'shoes', [8,5,9])

# we display the modified DataFrame
store_items

         bikes  pants  watches  glasses  shoes  shirts  suits
store 1     20     30       35     50.0      8    15.0  450.0
store 2     15      5       10     50.0      5     2.0   70.0
store 3     20     30       35      4.0      9     NaN    NaN

## Delete columns or rows from our DataFrame using .drop()

In [38]:
# We remove the watches and shoes columns
store_items = store_items.drop([ 'watches','shoes'], axis = 1)

# we display the modified DataFrame
store_items

         bikes  pants  glasses  shirts  suits
store 1     20     30     50.0    15.0  450.0
store 2     15      5     50.0     2.0   70.0
store 3     20     30      4.0     NaN    NaN

In [39]:
# We remove the store 2 and store 1 rows
store_items = store_items.drop(['store 2', 'store 1'], axis = 0)

# we display the modified DataFrame
store_items

         bikes  pants  glasses  shirts  suits
store 3     20     30      4.0     NaN    NaN

## Rename row or column labels

In [40]:
# We change the column label bikes to hats
store_items = store_items.rename(columns = {'bikes': 'hats'})

# we display the modified DataFrame
store_items

         hats  pants  glasses  shirts  suits
store 3    20     30      4.0     NaN    NaN

In [41]:
# We change the row label from store 3 to last store
store_items = store_items.rename(index = {'store 3': 'last store'})

# we display the modified DataFrame
store_items

            hats  pants  glasses  shirts  suits
last store    20     30      4.0     NaN    NaN

## change the index to be one of the columns in the DataFrame

In [72]:
# We change the row index to be the data in the pants column
print(store_items.shape)
store_items = store_items.set_index('pants')
print(store_items.shape)
# we display the modified DataFrame
store_items

(1, 5)
(1, 4)

       hats  glasses  shirts  suits
pants
30       20      4.0     NaN    NaN

In [61]:
store_items["hats"][30]

20

In [62]:
store_items.loc[30,"hats"]

20

In [42]:
store_items.iloc[0,0]

20